{% extends "base.html" %}

{% block content %}
<h1>Добавление вишлиста</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.feast.label }}<br>
        {{ form.feast(class="form-control") }}<br>
        {% for error in form.feast.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control", type="date") }}<br>
        {% for error in form.date.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control", type="time") }}<br>
        {% for error in form.time.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.notification() }} {{ form.notification.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}