{% extends "base.html" %}

{% block content %}
{% if lst %}
    <h2 class="text-center">Вишлист №{{lst.id}}: {{lst.feast}}</h2>
<div class="d-flex justify-content-center">
    <a class="nav-link btn btn-outline-warning" style="width: 200px;" href="/list{{ lst.id }}/add_wish">Добавить желание</a>
</div>
    {% if wishes %}

        <div class="table_container">
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <td class="title" width="400px" bgcolor="#dddddd">Название</td>
                        <td class="title" width="600px" bgcolor="#dddddd">Описание</td>
                        <td class="title" width="400px" bgcolor="#dddddd">Ссылка</td>
                    </tr>
                </thead>
                <tbody>
        {% for item in wishes %}
                <tr>
                    <td class="ordinary" bgcolor="#eeeeff">{{ item.name.capitalize() }}</td>
                    {% if item.bio %}
                    <td class="ordinary" bgcolor="#eeeeff">{{ item.bio }}</td>
                    {% else %}
                    <td class="ordinary" bgcolor="#eeeeff">Без описания</td>
                    {% endif %}
                    {% if item.url %}
                    <td class="ordinary" bgcolor="#eeeeff">
                        <a href="{{ item.url }}" target="_blank">Ссылка</a>
                    </td>
                    {% else %}
                    <td class="ordinary" bgcolor="#eeeeff">Без ссылки</td>
                    {% endif %}
                </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            В этом вишлисте пока нет желаний. Добавьте первое!
        </div>
    {% endif %}
{% else %}
<div class="alert alert-danger">
    <h3>Список не найден</h3>
    <a href="/" class="btn btn-primary">
        Вернуться на главную страницу
    </a>
</div>
{% endif %}
{% endblock %}