{% extends "base.html" %}

{% block content %}
<h2 class="text-center">Ваш профиль</h2>
<p><b>Имя пользователя:</b> {{ user.username }}</p>
<p><b>Почта:</b> {{ user.email }}</p>
<p><b>Дата регистрации:</b> {{ user.modified_date.strftime("%d.%m.%Y") }}</p>
<p><b>Брони:</b></p>
{% if sub_lists %}
    <div class="table_container">
          <ol>
            {% for item in sub_lists %}
              {% if item in soon and item.notification%}
              <li class="ordinary"><a href="/shared/{{ item.token }}">{{ item.feast }}(Осталось меньше недели)</a></li>
              {% elif item in end %}
              <li class="ordinary"><a href="/shared/{{ item.token }}">{{ item.feast }}(Дата события уже прошла)</a></li>
              {% else %}
              <li class="ordinary"><a href="/shared/{{ item.token }}">{{ item.feast }}</a></li>
              {% endif %}
            {% endfor %}
          </ol>
    </div>
{% else %}
<p>Вы еще не забронировали ни одно желание!</p>
{% endif %}
<p><b>Ваши вишлисты:</b></p>
{% if lists %}
    <div class="table_container">
          <ol>
            {% for item in lists %}
              {% if item in soon and item.notification%}
              <li class="ordinary"><a href="/list{{ item.id }}">{{ item.feast }}(Осталось меньше недели)</a></li>
              {% elif item in end %}
              <li class="ordinary"><a href="/list{{ item.id }}">{{ item.feast }}(Дата события уже прошла)</a></li>
              {% else %}
              <li class="ordinary"><a href="/list{{ item.id }}">{{ item.feast }}</a></li>
              {% endif %}
            {% endfor %}
          </ol>
      <a class="nav-link btn btn-primary" style="width: 300px;" href="/add_list">Создать новый вишлист</a>
    </div>
{% else %}
<a class="nav-link btn btn-primary" style="width: 200px;" href="/add_list">Создать вишлист</a>
{% endif %}
{% endblock %}