{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password1.label }}<br>
        {{ form.password1(class="form-control", type="password") }}<br>
        {% for error in form.password1.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(class="form-control", type="password") }}<br>
        {% for error in form.password2.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <input type="hidden" name="next" value="{{ next or request.args.get('next', '') }}">
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p>Уже есть аккаунт?</p>
    <a class="nav-link btn btn-outline-success" style="width: 200px;"
       href="/login?next={{ next or request.args.get('next', '') }}">Войдите</a>
    <div>{{ message }}</div>
</form>
{% endblock %}